# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.gitignore 


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.dockerignore
.gitignore 

# Build files
dist/
build/
